<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Bread</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="app">

  <!-- Intro -->

  <div id="intro">
    <h1>The Tomato Way</h1>
    <p>
      Tomatoes <em>love</em> massive comprehensible input. Featuring <em>Le Petit Prince</em>.
    </p>
    <img src="tomato.jpg">
  </div>

  <div class="line">
  </div>

  <!-- First Chapter -->

  <div class="chapter-number">
    <h2>Premier Chapitre</h2>
  </div>


  <div id="container" ng-controller="ContainerControl"  ng-init="showHint=true;showHint2=true">

    <div class="instruction" ng-show="showHint">
      <div class="instruct-bar">
        <p>Hints<span ng-click="showHint=false">X</span></p>
      </div>
      <p>
        <span class="fr">Bold</span> - original text
        <br>Normal - English translation (as literal as possible)<br>
        <em>Italic</em> - Literal translation (or grammar explanation)<br>
        <p>Don't try to memorize every word, the goal here is to get as much comprehensible input as possible in a short time. Try to understand each sentence and move on.</p>
      </p>
    </div>

    <!-- First Paragraph -->

    <p class="explanation">
      <span class="fr">Lorsque j'avais six ans j'ai vu, une fois</span> <br> When I was 6 <em>(had 6 years)</em> I've seen, once <em>(one time)</em>
    </p>

    <p class="explanation">
      <span class="fr">une magnifique image</span> <br> a magnificent picture
    </p>

    <p class="explanation">
      <span class="fr">dans un livre sur la Forêt Vierge qui s'appelait "Histoires Vécues"</span> <br>in a book about <em>(on)</em> the primeval <em>(virgin)</em> forest which is called (called herself) "True stories" <em>(Stories Lived)</em>
    </p>

    <p class="explanation">
      <span class="fr">Ça représentait un serpent boa qui avalait un fauve</span> <br> It represented a boa constrictor who was swallowing a tiger
    </p>

    <p class="explanation">
      <span class="fr">Voilà la copie du dessin</span> <br> Here's a copy of the drawing
    </p>

    <div class="line"></div>

    <div class="instruction" ng-show="showHint2">
      <div class="instruct-bar">
        <p>Hints<span ng-click="showHint2=false">X</span></p>
      </div>
      <p>
        Now here's the entire paragraph! If you forget the meaning of a word or a sentence, just scroll back.
      </p>
    </div>

    <p class="original-text">
      Lorsque j'avais six ans j'ai vu, une fois, une magnifique image, dans un livre sur la Forêt Vierge qui s'appelait "Histoires Vécues". Ça représentait un serpent boa qui avalait un fauve. Voilà la copie du dessin.
    </p>

    <img class="picture" src="boa.jpg">

    <div class="line"></div>

    <!-- Second Paragraph -->

    <p class="explanation">
      <span class="fr">On disait dans le livre</span>
      <br>In the book it said <em>(we said in the book)</em>
    </p>

    <p class="explanation">
      <span class="fr">Les serpents boas avalent leur proie tout entière, sans la mâcher</span>
      <br>The boa constrictors swallow their prey whole <em>(all entire)</em>, without chewing it <em>(without it chewing)</em>
    </p>

    <p class="explanation">
      <span class="fr">Ensuite ils ne peuvent plus bouger</span>
      <br>Then they can no longer move
    </p>

    <p class="explanation">
      <span class="fr">et ils dorment pendant les six mois de leur digestion</span>
      <br>and they sleep through <em>(during)</em> the 6 months of their digestion
    </p>

    <p class="explanation">
      <span class="fr">J'ai alors beaucoup réfléchi sur les aventures de la jungle</span>
      <br>I've pondered deeply, then, over <em>(I have then much thought on)</em> the adventures of the jungle
    </p>

    <p class="explanation">
      <span class="fr">et, à mon tour, j'ai réussi, avec un crayon de couleur, à tracer mon premier dessin</span>
      <br>and, <em>(at my turn)</em> I've succeeded, with a colored pencil, in making my first drawing
    </p>

    <p class="explanation">
      <span class="fr">Mon dessin numéro 1. Il était comme ça</span>
      <br>My first drawing. It was like this
    </p>

    <div class="line">

    </div>

    <p class="original-text">
      On disait dans le livre: "Les serpents boas avalent leur proie tout entière, sans la mâcher. Ensuite ils ne peuvent plus bouger et ils dorment pendant les six mois de leur digestion".
    </p><p class="original-text">
      J'ai alors beaucoup réfléchi sur les aventures de la jungle et, à mon tour, j'ai réussi, avec un crayon de couleur, à tracer mon premier dessin. Mon dessin numéro 1. Il était comme ça:
    </p>

    <img src="boa-full.jpg" class="picture">

    <div class="line"></div>

    <!-- 3rd Paragraph -->

    <p class="explanation">
      <span class="fr">J'ai montré mon chef d'oeuvre aux grandes personnes</span>
      <br>I've showed my masterpiece to the grown-ups <em>(big people)</em>
    </p>

    <p class="explanation">
      <span class="fr">Elles m'ont répondu : "Pourquoi un chapeau ferait-il peur ?"</span>
      <br>They answered <em>(they have me responded)</em> : Why would anyone be frightened by a hat? <em>(why would a hat make fear)</em>
    </p>

    <p class="explanation">
      <span class="fr">Mon dessin ne représentait pas un chapeau</span>
      <br>My drawing didn't represent a hat
    </p>

    <p class="explanation">
      <span class="fr">Il représentait un serpent boa qui digérait un éléphant</span>
      <br>It represented a boa constrictor who was digesting an elephant
    </p>

    <p class="explanation">
      <span class="fr">J'ai alors dessiné l'intérieur du serpent boa</span>
      <br>I then drawed the inside of the boa constrictor
    </p>

    <p class="explanation">
      <span class="fr">afin que les grandes personnes puissent comprendre</span>
      <br>so that the grown-ups can <em>(subjunctive of "pouvoir", used due to "afin que")</em> understand
    </p>

    <p class="explanation">
      <span class="fr">Elles ont toujours besoin d'explications</span>
      <br>They still need the explanations <em>(they have still need of explanations)</em>
    </p>

    <p class="explanation">
      <span class="fr">Mon dessin numéro 2 était comme ça</span>
      <br>My second drawing was like this
    </p>

    <div class="line"></div>

    <p class="original-text">
      J'ai montré mon chef d'oeuvre aux grandes personnes et je leur ai demandé si mon dessin leur faisait peur.
    </p>

    <p class="original-text">
      Elles m'ont répondu : "Pourquoi un chapeau ferait-il peur ?"
    </p>

    <p class="original-text">
      Mon dessin ne représentait pas un chapeau. Il représentait un serpent boa qui digérait un éléphant. J'ai alors dessiné l'intérieur du serpent boa, afin que les grandes personnes puissent comprendre. Elles ont toujours besoin d'explications. Mon dessin numéro 2 était comme ça:
    </p>

    <img class="picture" src="elephant.jpg">

    <div class="line"></div>

    <!-- 4th Paragraph -->

    <p class="explanation">
      <span class="fr">Les grandes personnes m'ont conseillé de laisser de côté les dessins de serpents boas ouverts ou fermés</span>
      <br>The grownups have advised me <em>(me have advised)</em> to lay aside the drawings of boa constrictors, whether from the outside or the inside <em>(open or closed)</em>
    </p>

    <p class="explanation">
      <span class="fr">et de m'intéresser plutôt à la géographie, à l'histoire, au calcul et à la grammaire</span>
      <br>and to be interested instead in geography, history, arithmatic and grammar
    </p>

    <p class="explanation">
      <span class="fr">C'est ainsi que j'ai abandonné, à l'âge de six ans, une magnifique carrière de peinture</span>
      <br>That's why <em>(it's like that that)</em> I gave up, at the age of six, a magnificent career as a painter
    </p>

    <p class="explanation">
      <span class="fr">J'avais été découragé par l'insuccès de mon dessin numéro 1 et de mon dessin numéro 2</span>
      <br>I had been discouraged by the failure of my first drawing and my second drawing
    </p>

    <p class="explanation">
      <span class="fr">Les grandes personnes ne comprennent jamais rien toutes seules</span>
      <br>The grownups never understand anything by themselves <em>(all alone)</em>
    </p>

    <p class="explanation">
      <span class="fr">et c'est fatigant, pour les enfants, de toujours leur donner des explications</span>
      <br>and it's tiresome, for the children, to always give them explanations.
    </p>

    <div class="line"></div>

    <p class="original-text">
      Les grandes personnes m'ont conseillé de laisser de côté les dessins de serpents boas ouverts ou fermés, et de m'intéresser plutôt à la géographie, à l'histoire, au calcul et à la grammaire. C'est ainsi que j'ai abandonné, à l'âge de six ans, une magnifique carrière de peinture.
    </p>

    <p class="original-text">
      J'avais été découragé par l'insuccès de mon dessin numéro 1 et de mon dessin numéro 2. Les grandes personnes ne comprennent jamais rien toutes seules, et c'est fatigant, pour les enfants, de toujours leur donner des explications.
    </p>

    <div class="line"></div>

    <p class="explanation">
      <span class="fr">J'ai donc dû choisir un autre métier et j'ai appris à piloter des avions</span>
      <br>I had to, therefore, choose another profession and I've learned to pilot airplanes
    </p>

    <p class="explanation">
      <span class="fr">J'ai volé un peu partout dans le monde</span>
      <br>I've flown all over the world <em>(a little everywhere in the world)</em>
    </p>

    <p class="explanation">
      <span class="fr">Et la géographie, c'est exact, m'a beaucoup servi</span>
      <br>And it's true that geography has been pretty useful to me <em>(And the geography, it's exact, me has much served)</em>
    </p>

    <p class="explanation">
      <span class="fr">Je savais reconnaître, du premier coup d'oeil, la Chine de l'Arizona</span>
      <br>I knew how to distinguish <em>(recognize)</em>, at first glance, China from Arizona
    </p>

    <p class="explanation">
      <span class="fr">C'est utile, si l'on est égaré pendant la nuit</span>
      <br>It's useful, if we are lost at night
    </p>

    <div class="line"></div>

    <p class="original-text">
      J'ai donc dû choisir un autre métier et j'ai appris à piloter des avions. J'ai volé un peu partout dans le monde. Et la géographie, c'est exact, m'a beaucoup servi. Je savais reconnaître, du premier coup d'oeil, la Chine de l'Arizona. C'est utile, si l'on est égaré pendant la nuit.
    </p>

    <div class="line"></div>

    <p class="explanation">
      <span class="fr">J'ai ainsi eu, au cours de ma vie, des tas de contacts avec des tas de gens sérieux</span>
      <br>I have had, then, in the course of my life, a lot of encounters with a lot of serious people
    </p>

    <p class="explanation">
      <span class="fr">J'ai beaucoup vécu chez les grandes personnes</span>
      <br>I have lived a great deal among the grownups
    </p>

    <p class="explanation">
      <span class="fr">Je les ai vues de très près</span>
      <br>I have seen them very closely <em>(I them have seen of very close)</em>
    </p>

    <p class="explanation">
      <span class="fr">Ça n'a pas trop amélioré mon opinion</span>
      <br>It didn't improve my opinion too much
    </p>

    <div class="line"></div>

    <p class="original-text">
      J'ai ainsi eu, au cours de ma vie, des tas de contacts avec des tas de gens sérieux. J'ai beaucoup vécu chez les grandes personnes. Je les ai vues de très près. Ça n'a pas trop amélioré mon opinion.
    </p>

    <div class="line"></div>

    <p class="explanation">
      <span class="fr">Quand j'en rencontrais une qui me paraissait un peu lucide</span>
      <br>When I met one of them who seemed <em>(to me)</em> a bit clear-headed
    </p>

    <p class="explanation">
      <span class="fr">je faisais l'expérience sur elle de mon dessin no.1 que j'ai toujours conservé</span>
      <br>I tried the experiment of showing him <em>(I was doing the experiment on her)</em> my first drawing , which I've always kept
    </p>

    <p class="explanation">
      <span class="fr">Je voulais savoir si elle était vraiment compréhensive</span>
      <br>I wanted to know if this person was truly understanding
    </p>

    <p class="explanation">
      <span class="fr">Mais toujours elle me répondait: "C'est un chapeau."</span>
      <br>But they always answered: "It's a hat."
    </p>

    <p class="explanation">
      <span class="fr">Alors je ne lui parlais ni de serpents boas, ni de forêts vierges, ni d'étoiles</span>
      <br>So I never talked to this person about boa constrictos, or primeval forests, or stars
    </p>

    <p class="explanation">
      <span class="fr">Je me mettais à sa portée</span>
      <br>I would bring myself down to his level <em>(I me placed at his reach)</em>
    </p>

    <p class="explanation">
      <span class="fr">Je lui parlais de bridge, de golf, de politique et de cravates</span>
      <br>I talked to this person about bridges, golf, politics and neckties
    </p>

    <p class="explanation">
      <span class="fr">Et la grande personne était bien contente de connaître un homme aussi raisonnable</span>
      <br>And the grownup was quite content to have met such a sensible man
    </p>

    <div class="line"></div>

    <p class="original-text">
      Quand j'en rencontrais une qui me paraissait un peu lucide, je faisais l'expérience sur elle de mon dessin no.1 que j'ai toujours conservé. Je voulais savoir si elle était vraiment compréhensive.
    </p>

    <p class="original-text">
      Mais toujours elle me répondait: "C'est un chapeau."
    </p>

    <p class="original-text">
      Alors je ne lui parlais ni de serpents boas, ni de forêts vierges, ni d'étoiles. Je me mettais à sa portée. Je lui parlais de bridge, de golf, de politique et de cravates. Et la grande personne était bien contente de connaître un homme aussi raisonnable.
    </p>

    <div class="line"></div>

  </div>



</body>
</html>
