@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300);

html, body {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #444;
}

h1 {
  font-size: 4em;
  font-weight: 400;
}

h2 {
  font-size: 2em;
  font-weight: 400;
}

p {
  font-size: 1.3em;
  font-weight: 300;
}

.line {
  height: 3px;
  background-color: #ddd;
  width: 60%;
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 5em;
}

.chapter-number {
  padding: 2em 0 2em;
}

.explanation {
  border-left: 3px solid red;
  padding-left: 1em;
  font-size: 1.2em;
}

.fr {
  font-weight: 400;
}

.instruction {
  text-align: left;
  line-height: 1.8em;
  background-color: #BDE5F8;
  padding: 1em;
  border-radius: 10px;
  font-size: 14px;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.instruction .instruct-bar p {
  font-weight: 400;
  text-align: center;
}

.instruction .instruct-bar span {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.picture {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#intro {
  padding: 7em 0 3em;
  position: relative;
}

#intro img {
  max-width: 50%;
  max-height: 50%;
}

#intro h1 {
  letter-spacing: -5px;
  margin: 0;
}

#intro p {
  margin: 0;
  padding: 1em 0 .5em;
}

#container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.3em;
  text-align: left;
}

@media screen and (max-width: 800px) {
     #container {
          width: 85%;
     }

     h1 {
       font-size: 3em;
     }

     p {
       font-size: 1.2em;
     }

     .explanation {
       font-size: 1.1em;
     }

     .instruction {
       width: 85%;
       font-size: .9em;
     }
}
